
<div class="container py-5">
    <div class="row">

    {% if isScan is same as 'c' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
    {% elseif isScan is not same as 's' %}
        {{ form_start(numeroForm) }}
        {{ form_widget(numeroForm) }}
    {% else %}
        {{ form_start(imageForm) }}
        {{ form_widget(imageForm) }}
    {% endif %}

    </div>
    <button class="btn btn-outline-info">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-outline-danger mx-3">Retour</a>
</div>

    {% if isScan is same as 'c' %}
        {{ form_end(form) }}
    {% elseif isScan is not same as 's' %}
        {{ form_end(numeroForm) }}
    {% else %}
        {{ form_end(imageForm) }}
    {% endif %}
