{% extends "base.html.twig" %}

{% block body %}
    <div class="container py-5">
        <div class="row">
        
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Modifiez votre mot de passe</h3>
                    </div>
                    < class="card-body">

                        {{ form_start(form) }}

                            {{ form_row(form.currentPassword) }}
            
                            {{ form_row(form.plainPassword.first) }}

                            {{ form_row(form.plainPassword.second) }}
                       
                            <button type="submit" class="btn btn-outline-info mt-3">Validez</button>
                            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-outline-danger mt-3">Revenir</a>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
