{{ form_start(form) }}
<div class="container py-5">
    <div class="row">
        {{ form_widget(form) }}
    </div>
    <button class="btn btn-outline-info mt-3">{{ button_label|default('Enregistrer') }}</button>
   <a href="{{ app.request.headers.get('referer') }}" class="btn btn-outline-danger mx-3">Revenir</a>
</div>
{{ form_end(form) }}
