{{ form_start(form) }}
<div class="container py-5">
    <div class="row">
        {{ form_widget(form) }}
    </div>
    <button class="btn btn-outline-info mt-3">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('scan_index') }}" class="btn btn-outline-danger mt-3 mx-3">Retour à la liste</a>
</div>
{{ form_end(form) }}
