{% extends 'base.html.twig' %}

{% block title %} Les dernières sorties!{% endblock %}

{% block body %}

<div class="container p-lg-5">
    <div class="my-5 mx-3 p-lg-5">
        <h2>Les chapitres les plus récents</h2>
        <div class="row row-cols-4 my-1 p-lg-5">

        {% for recentChapitre in recentsChapitres %}

            <div class="col-lg-3 col-md-4 col-6 py-3 d-flex align-items-center justify-content-center">
                <a href="{{ path('read_scans', {'id':  recentChapitre.id}) }}">
                    <img class="img-fluid manga-img" src="{{ recentChapitre.manga.image }}" alt="">
                    <div>
                        <h4 class="mb-0">{{ recentChapitre.manga.nom }}</h4>
                        <h3 class="pt-1">Chapitre {{ recentChapitre.numero }}</h3>
                    </div>
                </a>
            </div>
            
        {% endfor %}

        </div>
    </div>
</div>

<div class="container pt-2 px-lg-2 pb-2">
    <div class="my-1 mx-3 p-lg-5">
        <h2>Les mangas les plus récents</h2>
        <div class="row row-cols-4 my-1 p-lg-5 py-sm-5">

        {% for recentManga in recentsMangas %}

            <div class="col-lg-3 col-md-4 col-6 py-3 d-flex align-items-center justify-content-center">
                <a href="{{ path('details_manga', {'id':  recentManga.id}) }}">
                    <img class="img-fluid manga-img" src="{{ recentManga.image }}" alt="">
                    <h4 class="">{{ recentManga.nom }}</h4>
                </a>
            </div>
            
        {% endfor %}

        </div>
    </div>
</div>

{% endblock %}
