{% extends 'base.html.twig' %}

{% block title %}Manga{% endblock %}

{% block body %}

<div class="row">
    <div class="col-3">
        <div class="container pb-3">
            <div class="py-1 px-2">
                <div class=" py-4 pr-3">
                    <p>Nom</p>
                    <h5>{{ manga.Nom }}</h5>
            
                    <div class="py-4 mr-4">
                        <div class="container">
                            <img src="{{ manga.Image }}" class="img-fluid" style="border-radius: 10px" alt="">
                        </div>
                    </div>
                    <div class="card">
                        <p>NomAuth</p>
                        <h5>{{ manga.nomDuCreateur}}</h5>

                        <p>Dessin</p>
                        <h5>{{ manga.Dessin }}</h5>
                
                        <p>Genre</p>
                        <h5>{{ manga.Genre }}</h5>
                    </div>
                    <div class="mx-2 pt-4">
                        <a href="{{ path('manga_edit', {'id': manga.id}) }}" class="btn btn-outline-info">Modifier les informations</a>
                        <a href="{{ path('manga_index') }}" class="btn btn-outline-info my-4">Retour à vos mangas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9 pt-2 border-top border-start border-dark">
        <div class="row justify-content-between pt-5">
            <div class="col-5">
                <a href="{{ path('chapitre_new', {'id' : manga.id}) }}" class="btn btn-outline-info mx-3">Créer un nouveau chapitre</a>
            </div>
        </div>
        <div class="col-8 px-3">
            <div class="navigation pt-3">
                {{ knp_pagination_render(chapitres) }}
            </div>
                <div class="row">
                    <div class="container d-flex py-5">
                        {% for chapitre in chapitres %}
                            <div class="col-3 mx-4">
                                <div class="row">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Chapitre N°{{ chapitre.numero }}</h5>
                                        </div>
                                        {% if firstScan != null %}
                                        <div class="card-body">
                                            <img src="{{ firstScan.Image }}" alt="" class="img-fluid">
                                        </div>
                                        {% endif %}
                                        <div class="card-body">
                                            {# <img src="{{ chapitre.scans[0] }}" alt="" class="img-fluid"> #}
                                            {# {% for firstScan in chapitre %}
                                            
                                            <p>{{ firstScan.Image }}</p>
                                                
                                            {% endfor %} #}
                                        </div>
                                        <div class="card-footer">
                                            <a href="{{ path('chapitre_show',{ 'id' : chapitre.id } ) }}" class="btn btn-outline-info w-100">Consulter/Ajouter des pages</a>
                                            <a href="{{ path('chapitre_delete',{ 'id' : chapitre.id } ) }}" class="btn btn-outline-danger my-3 w-100">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            <div class="navigation pt-3">
                {{ knp_pagination_render(chapitres) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
