{% extends 'base.html.twig' %}

{% block title %}{{ manga.nom }} modification{% endblock %}

{% block body %}

<div class="row">
    <div class="col-3">
        <div class="container pb-3">
            <div class="py-1 px-2">
                <div class=" py-4 pr-3">
                    <h5>{{ manga.nom }}</h5>
            
                    <div class="py-4 mr-4">
                        <div class="container">
                            <img src="{{ manga.image }}" class="img-fluid" style="border-radius: 10px" alt="">
                        </div>
                    </div>
                    <div class="card">
                        <p>Nom de l'auteur</p>
                        <h5>{{ manga.nomDuCreateur}}</h5>

                        <p>Dessin</p>
                        <h5>{{ manga.dessin }}</h5>
                
                        <p>Genre</p>
                        <h5>{{ manga.genres.getName() }}</h5>
                        
                        <p class="mt-2">Editeur</p>
                        {% if manga.editeur is same as null %}

                        <h5>Vous ne posséder aucun éditeur</h5>

                        {% else %}
                            
                        <h5>{{ manga.editeur.getNom()}}</h5>

                        {% endif %}
                    </div>
                    <div class="mx-2 pt-4">
                        <a href="{{ path('manga_edit', {'id': manga.id}) }}" class="btn btn-outline-info">Modifier les informations</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9 pt-2 border-top border-start border-dark">
        <div class="row pt-5">
            <div class="col-11 d-flex justify-content-between">
                <a href="{{ path('chapitre_new', {'id' : manga.id, 'isScan' : 'c'}) }}" class="btn btn-outline-info my-4 mx-3">Créer un nouveau chapitre</a>
                <a href="{{ path('manga_index') }}" class="btn btn-outline-info my-4">Retour à vos mangas</a>
            </div>
        </div>
        <div class="col-8 px-3">
            <div class="navigation pt-3">
                {{ knp_pagination_render(chapitres) }}
            </div>
                <div class="row">
                    <div class="container d-flex py-5">
                        {% for chapitre in chapitres %}
                            <div class="col-3 mx-4">
                                <div class="row">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Chapitre N°{{ chapitre.numero }}</h5>
                                        </div>
                                      
                                        <div class="card-body">
                                            <img style="height: 13em !important" src="{{ chapitre.firstImageScan }}" alt="" class="img-fluid w-100">
                                        </div>
                                        <div class="card-footer">
                                            <a href="{{ path('chapitre_show',{ 'id' : chapitre.id } ) }}" class="btn btn-outline-info w-100 mb-2">Consulter/Ajouter des pages</a>
                                            <form method="post" action="{{ path('chapitre_delete', {'id': chapitre.id}) }}" onsubmit="Souhaitez-vous vraiment supprimer ce chapitre ?">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chapitre.id) }}">
                                                <button class="btn btn-outline-danger w-100">Supprimer</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            <div class="navigation pt-3">
                {{ knp_pagination_render(chapitres) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
