{% extends 'base.html.twig' %}

{% block title %} Bonne lecture! {% endblock %}

{% block body %}

	<div class="container pt-5 mt-5 d-flex justify-content-evenly">
		<div class="dropdown" style="width: 55%;">
			<button class="btn btn-dark border-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded "true">
				Liste des chapitres
			</button>
			<ul class="dropdown-menu w-100 bg-dark" aria-labelledby="dropdownMenuButton1">

				{% for chapitre in chapitresDropdown %}

					{% if app.request.attributes.get('id') is same as chapitre.id %}

						<li>
							<a class="dropdown-item disabled text-secondary bg-light" href="{{ path('read_scans', {'id' : chapitre.id}) }}">
								Chapitre N째{{chapitre.numero}}
							</a>
						</li>

					{% else %}

						<li>
							<a class="dropdown-item text-light" href="{{ path('read_scans', {'id' : chapitre.id}) }}">
								Chapitre N째{{chapitre.numero}}
							</a>
						</li>

					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container mt-5 pt-3 px-0 px-md-1">
		{% for scan in scans %}

			<div class="item">
				<div class="w-100 d-flex justify-content-center">
					<img src="{{ scan.image }}" class="img-fluid py-2" alt="200%x280" style="height: 48em !important;">
				</div>
			</div>

		{% endfor %}
	</div>

<div class="container pt-2 mt-5 d-flex justify-content-evenly">
	<div class="dropdown" style="width: 55%;">
		<button class="btn btn-dark border-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded "true">
			Liste des chapitres
		</button>
		<ul class="dropdown-menu w-100 bg-dark" aria-labelledby="dropdownMenuButton1">

			{% for chapitre in chapitresDropdown %}

				{% if app.request.attributes.get('id') is same as chapitre.id %}

					<li>
						<a class="dropdown-item disabled text-secondary bg-light" href="{{ path('read_scans', {'id' : chapitre.id}) }}">
							Chapitre N째{{chapitre.numero}}
						</a>
					</li>

				{% else %}

					<li>
						<a class="dropdown-item text-light" href="{{ path('read_scans', {'id' : chapitre.id}) }}">
							Chapitre N째{{chapitre.numero}}
						</a>
					</li>

				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}
