<footer class="footer mt-2 pt-2 pt-md-5">
    <section class="container d-flex flex-column flex-md-row w-100 justify-content-evenly align-items-center">
        <div class="my-2">
          <a href="{{ path('about') }}">A propos de nous</a>
        </div>
        <div class="my-2">
          <a href="{{ path('coming_soon') }}">Politique de <span>Confidentialité</span></a>
        </div>
        <div class="my-2">
          <a href="{{ path('coming_soon') }}">Conditions <span>d'Utilisation</span></a>
        </div>
        <div class="my-2">
          <a href="{{ path('coming_soon') }}"><i class="far fa-copyright"> Copyrights</i></a>
        </div>
        <div class="my-2">
          <a href="{{ path('contact') }}">Contact</a>
        </div>
    </section>
</footer>