<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('home')}}">futur logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-3">
        <li class="nav-item px-2">
          <a class="nav-link" aria-current="page" href="#">Nouveautés</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="#">Genres</a>
        </li>
        {% if app.user %}

        {% if app.user.roles[0] is same as "ROLE_ADMIN" %}

        <li class="nav-item px-2">
          <a class="nav-link" href="{{ path('manga_index') }}">Publiez</a>
        </li>

        {% endif %}

        {% else %}

        <li class="nav-item px-2">
          <a class="nav-link" href="{{ path('app_register') }}">Publiez</a>
        </li>          

        {% endif %}
      </ul>
      <form class="search m-3">
        <input class="text-light" type="text">
        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
      </form>
      <div style="width : 100px;" class="d-flex align-items-center justify-content-between px-3">

        {% if app.user %}

        {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
        
            <a href="{{ path('profile') }}"><i class="fas fa-user-circle"></i></a>
            <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>

        {% endif %}

        {% else %}
          
            <a href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i></a>
            <a href="{{ path('app_register') }}"><i class="fas fa-user-plus"></i></a>
        
        {% endif %}
        </div>
    </div>
  </div>
</nav>