<nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-1" href="{{path('home')}}"><img style="height:3em !important" src="{{ asset('Assets/logo-manfras-final.png') }}" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-2 mb-lg-0 px-3">
      <li class="nav-item px-2">
          <a class="nav-link d-inline d-lg-none mt-3" href="{{ path('home') }}">Accueil</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" aria-current="page" href="{{ path('date_time_manga') }}">Nouveautés</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="{{ path('genres_page') }}">Genres</a>
        </li>
        {% if app.user %}

        {% if app.user.roles[0] is same as "ROLE_ADMIN" or "ROLE_USER" %}

        <li class="nav-item px-2">
          <a class="nav-link" href="{{ path('manga_index') }}">Publiez</a>
        </li>

        {% endif %}

        {% else %}

        <li class="nav-item px-2">
          <a class="nav-link" href="{{ path('app_register') }}">Publiez</a>
        </li>          

        {% endif %}
      </ul>
      <form class="d-none d-lg-block search m-3">
        <input class="text-light" type="text">
        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
      </form>
      <div style="width : 100px;" class="d-flex flex-column flex-lg-row justify-content-between px-3 ms-2">

        {% if app.user %}

        {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
        
            <a href="{{ path('profile') }}"><i class="fas fa-user-circle my-3 my-lg-0"></i></a>
            <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>

        {% endif %}

        {% else %}
          
            <a href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt my-3 my-lg-0"></i></a>
            <a href="{{ path('app_register') }}"><i class="fas fa-user-plus"></i></a>
        
        {% endif %}
        </div>
    </div>
  </div>
</nav>